[user]
    email = marc.paepper@mindpeak.ai
    name = Marc Päpper
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[alias]
    unadd = reset HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    c = commit -m
    co = checkout
    coh = checkout HEAD
    cob = checkout -b
    cl = clone
    b = branch
    cp = cherry-pick
    s = status
    a = add
    d = diff
    df = diff --cached # diff added files
    pl = pull --rebase
    ps = push
    la = "!git config -l | grep alias | cut -c 7-" # list all aliases
    undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f" # see https://megakemp.com/2016/08/25/git-undo/
    other = ls-files --other # list files which are not added
[push]
    default = current
