[submodule ".xmonad"]
    path = .xmonad
    url = https://github.com/mpaepper/xmonad-config
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
